.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

#blankFooter {
  height: 200px;
}

